.partners{
    height:200px;
}
.partners1 {
    width: 300px;
    position: relative;
    left: 0;
}
.partners2 {
    width: 300px;
    position: relative;
    left: 350px;
    top: -140px;
    
}
.partners3 {
    width: 300px;
    position: relative;
    left: 700px;
    top: -270px;
    
}
.partners3 h3{
    font-weight: 600;
        font-size: 30px;
        margin-bottom: 30px;
}

.partners1 h3{
font-weight:600;
font-size: 30px;
margin-bottom:30px;
}
.partners2 h3{
font-weight:600;
font-size: 30px;
margin-bottom:30px;
}
.imgpart{
    width:75px;
    height:50px;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* media queries medium device */

@media screen and (max-width:1024px) {

    .partners {
        height:auto;
            margin-top: 0;
            display: flex;
            flex-direction: column;
    
            padding: 62px 0;
    
    
        }
    
        .partners1 {
            width: 100%;
            left: 0;
            top: -50px;
        }
    
        .partners2 {
            width: 100%;
            left: 0;
            top: 0px;
        }
    
        .partners3 {
            width: 100%;
            left: 0;
            top: 30px;
    
        }



}

/* media queries small device */

@media screen and (max-width:600px) {

    .partners{
    margin-top: 0;
        display: flex;
        flex-direction: column;
        
        padding: 62px 0;


    }
.partners1 {
        left: 0;
        top:-50px;
    }
.partners2 {
        left: 0;
        top:0px;
    }
.partners3 {
        left:0;
        top: 30px;
        
    }
}