.logo img{
    width:250px;
}
.containerNav{
    display:flex;
    justify-content: space-between;
}
.TopNav{
   
    margin: 0.6rem auto;
    
}
.content{
    display:flex;
    align-items: center;
    gap:1rem;
    margin-top: -53px;
}
.call{
    
    text-align:left;
    color: #002e5b;
}
.call-icon{
    color:#6c98e1;
    font-size:2rem;
}
/* media queries medium device */

@media screen and (max-width:1024px) {}

/* media queries small device */

@media screen and (max-width:600px) {
    .container{
        width: var(--container-width-sm);
        
    }
    .logo img{
width:150px;
    }
    .containerNav{
        width:150px;
        margin-top:20px;
    }
}